.App {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  color: white; 
  font-size: 0;
  /* z-index: 1; */
}

.movieposter { 
}

.hidden {
  position: absolute;
  top: 0%;
  font-size: 15px;
  /* z-index: 2; */
  visibility: hidden;
  height: 100%;
  overflow: auto; 
  
  
  
  /* opacity: 1; */
}

.App :hover .hidden {
  visibility: visible;
  color: white; 
  opacity: 1;
  background-color: rgba(0,0,0,0.7)
  
}

.hidden :hover{
  
}

.movieposter {
  position: relative;
  
}